input[type="text"] {
    outline: none;
    height: 35px;
    border-radius: 5px;
    line-height: 30px;
    font-weight: 400;
    width: 200px;
}

input[type="date"] {
    outline: none;
    height: 35px;
    border-radius: 5px;
    line-height: 30px;
    font-weight: 400;
    width: 200px;
    margin-left: 10px;
}

button {
    height: 35px;
    margin-left: 10px;
    width: 100px;
    background-color: green;
    color: antiquewhite;
    border-radius: 5px;

}

button:hover {
    background-color: chartreuse;
}