.main {
    width: 500px;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.btn {
    background-color: red;
    margin-left: 15px;
}